.carrossel__fundo{
    display: flex;
    background-image: url(../img/carrossel-2.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 20vh;
}

.carrossel__2-conteudo{
    width: 100%;
    margin: auto;
    overflow: hidden;
    border: 1px transparent;
}

.carrossel__slides{
    display: flex;
    animation: carrosel infinite 80s 5s; 
}

.carrossel__slide{
    min-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.titulo__artigo{
    display: flex;
    justify-content: center;
}

.titulo{
    width: 80%;
    color: var(--cor-texto);
    font-size: 16px;
    font-weight: 700;
    text-align: center;
    font-family: var(--fonte-padrao);
    padding: 1rem;
}

.botao__carrossel{
    display: flex;
    justify-content: center;
    background-color: var(--cor-botão);
    width: 25%;
    padding: 0.5rem;
    margin: 0.5rem auto;
    border-radius: 10px;
    box-shadow: 5px 5px 5px rgba(161, 76, 7, 0.329);
}

.botao-carrossel__link{
    color: var(--branco);
    font-size: 12px;
    font-weight: 700;
    text-decoration: none;
    text-transform: uppercase;
}

.botao__carrossel:hover{
    background-color: var(--cor-botão-ativo);
    width: 30%;
}

.botao-carrossel__link:hover{
    color: var(--cor-titulos);
    font-size: 16px;
}

@media screen and (min-width:1024px){

    .carrossel__fundo{
        height: 30vh;
    }

    .carrossel__fundo{
        padding-bottom: 15rem;
    }

    .titulo{
        font-size: 26px;
        padding: 2rem;
    }

    .botao__carrossel{
        width: 35%;
        padding: 1rem;
    }

    .botao-carrossel__link{
        font-size: 16px;
    }

    .botao__carrossel:hover{
        width: 40%;
    }

    .botao-carrossel__link:hover{
        font-size: 20px;
    }
}

@media screen and (min-width:1728px){

    .carrossel__fundo{
        height: 50vh;
    }

    .titulo{
        font-size: 36px;
    }

    .botao__carrossel{
        width: 40%;
    }

    .botao-carrossel__link{
        font-size: 18px;
    }

    .botao__carrossel:hover{
        width: 45%;
    }

    .botao-carrossel__link:hover{
        font-size: 24px;
    }
    
}


@keyframes carrosel{

    0% {
        transform: translateX(0%);
    }

    7% {
        transform: translateX(-100%);
    }

    15% {
        transform: translateX(-200%);
    }

    21%{
        transform: translateX(-300%);
    }

    29%{
        transform: translateX(-400%);
    }

    36%{
        transform: translateX(-500%);
    }

    44%{
        transform: translateX(-600%);
    }

    51%{
        transform: translateX(-700%);
    }

    58%{
        transform: translateX(-700%);
    }

    63%{
        transform: translateX(-600%);
    }

    68%{
        transform: translateX(-500%);
    }
    
    73%{
        transform: translateX(-400%);
    }

    80%{
        transform: translateX(-300%);
    }

    87%{
        transform: translateX(-200%);
    }
    94%{
        transform: translateX(-100%);
    }

    100%{
        transform: translateX(-0%);
    }

}